# ignore all pyc files
*.pyc
# ignore all python IDE files
*/venv/
# ignore compiled files
*.exe
*.pyd
*.dll
*.import
*.idea
/dist/*
/build/*
# ignore logs
server/log/*
!server/log/.gitkeep
# ignore accounts
server/accounts/*
# ignore worlds
server/worlds/*
# ignore godot optional import settings.
/GodotClient/.import/*
CataclysmLD.code-workspace
GodotClient/debug.log
