# ignore all pyc files
*.pyc
# ignore all python IDE files
*/venv/
# ignore compiled files
*.exe
*.pyd
*.dll
*.import
*.idea
/dist/*
/build/*
# py files open in nano sessions.
*.py.swp
# generated map files.
*.chunk
# ignore logs
server/log/*
!server/log/.gitkeep
# ignore accounts
/accounts/*
# ignore worlds
/world/*
# ignore godot optional import settings.
/client/.import/*
# CataclysmLD.code-workspace
client/debug.log
